@model OrderDetailsViewModel



<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <a asp-controller="Burger" asp-action="BurgerMenu">🔙 To 🍔</a>
    <a asp-action="SeeOrders">🔙 To 📦</a>
</div>
<h4 class="text-center"> <a asp-controller="Order" asp-action="AddBurger" asp-route-id="@Model.Id">Keep adding burgers 😋..</a></h4>
<div class="text-center">
    <p><b>The number of burgers in this order  is @Model.SoundsDelicious.Count.</b></p>
    <h2>@Model.UserFullName has made the following order:</h2>
    @foreach (var burger in @Model.SoundsDelicious)
    {
        <text><strong>@burger</strong></text>
    }
    <p><strong>The order was made at our store in @Model.YourMapPick.</strong></p>

    <p><strong>The total cost for this order is @Model.Price denars, and it was paid by @Model.PaymentMethod.</strong> </p>
</div>